.location-details-grid {
    margin-top: 30px;
    margin-bottom: 30px;
} 

.location-details-grid > div {
    margin: 0 auto !important;
    cursor: pointer;
    height: auto !important;
    width: 600px !important;
}

.image-full-size {
    display: none;
}