.location-tile {
    cursor: pointer;
}

.location-tile > div p {
    color: white !important;
    font-weight: bold;
}

.location-tile__button-marked {
    color: #006600 !important;
}

.location-tile__button {
    color: white !important;
}
