.location-details-similars .slick-slide {
    height: 350px;
}

.location-details-similars > div, .location-details-similars .location-tile {
    width: 100%;
    height: 100%;
}

.location-details-similars .location-tile__image {
    width: 200px;
    height: auto !important;
}

.location-details-similars__title {
    font-size: 30px;
    padding: 30px;
}