.location-details-header__title-container {
    color: rgb(46, 125, 50);
    font-size: 34px;
    font-weight: bold;
    margin-top: 66px;
    padding-top: 36px;
    padding-bottom: 30px;
    background-color: white;
    border-bottom: 5px solid #f6f4f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-container__rating {
    padding: 10px;
}

.title-container__rating span {
    color: rgb(46, 125, 50) !important;
}

/* .location-details-header__information {
    display: flex;
    flex-direction: row;
} */

.location-details-header__information .fa, .fas {
    color: rgb(46, 125, 50);
}

.information-available-seats {
    font-size: 20px;
    font-weight: bold;
}

.information__general {
    display: flex;
    flex-direction: column;
    padding: 28px;
    /* border-right: 5px solid #f6f6f6; */
    /* border-bottom: 5px solid #f6f6f6; */
    padding-right: 15px;
    align-items: center;
    /* width: 50%; */
}

.categories-wrapper {
    display: flex;
}

.information-item {
    margin-bottom: 10px;
}

.information-categories {
    /* width: 50%; */
    padding: 30px;
    padding-left: 44px;
    display: flex;
    /* justify-content: space-around; */
    border-bottom: 5px solid #f6f6f6;
}

.main-information-details {
    padding-left: 6px;
}

.information-categories__general {
    margin-right: 80px;
}

.information-categories__general .label-container {
    margin-bottom: 10px;
}

.information-categories__general .label-text {
    color: rgb(46, 125, 50);
    font-weight: bold;
}

.information-categories__general .items__item:before {
	font-family: "FontAwesome";
	content: "\f0c1";
	font-weight: 500;
    margin-right: 10px;
    color: rgb(46, 125, 50);
}

.information-categories__general .items__item {
    color: #965063;
    font-weight: bold;
}

/* .information-categories__general ul {
    max-height: 100px;
    overflow: auto; 
} */

.infromation-categories__cuisine__no-categories {
    font-size: 16px;
    font-weight: bold;
    color: rgb(46, 125, 50);
    display: flex;
    align-items: center;
}
