.location-details-header__name {
    /* background-color: white; */
    color: black;
    text-align: center;
    font-size: 34px;
    font-weight: bold;
    padding: 120px 0px 35px 0px;

}

.main-information {
    padding: 15px 20px 15px 0px;
}

.location-details-header__information {
    display: flex;
    padding: 30px;
}

.information-rating {
    padding-top: 10px;
}

.main-information-details {
    padding-left: 8px;
}

.information-categories {
    display: flex;

}

.information-categories.main_information > div {
    padding: 0px !important;
}

.information-categories__goodFor > div > div, .information-categories__meals > div > div, .information-categories__cuisine > div > div {
    position: absolute;
    width: 150px;
    z-index: 2;
    background-color: #FFFFFF;
    border-radius: 3px;
}
