.list-title {
    color: rgb(46, 125, 50);
    font-size: 26px;
    font-weight: bold;
}

.list-items {
    display: flex;
    padding-top: 40px;
}

.empty-title {
    font-size: 22px;
    font-style: italic;
    padding-left: 50px;
    padding-bottom: 70px;

}

.location-details-most-recommended-dishes {
    margin-top: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
    border-bottom: 5px solid #f6f6f6;
}

.location-details-most-recommended-dishes .list-items {
    display: flex;
}

.location-details-most-recommended-dishes .list-items .item-container {
    padding-right: 20px;
}

.location-details-most-recommended-dishes .list-items .item-container img {
    width: 160px;
    height: 120px;
}

.location-details-most-recommended-dishes .list-items .item-container p {
    color: rgb(46, 125, 50);
    font-size: 18px;
    margin-top: 10px;
    text-align: center;
}

.title-no-dishes {
    font-size: 22px;
    padding-top: 20px;
    font-style: italic;
}

.title-no-map {
    font-size: 22px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-style: italic;
    padding-left: 30px;
    border-bottom: 5px solid #f6f6f6

}

.list-padding {
    padding-left: 30px;
    padding-top: 30px;
}