.location-details {
    width: 70%;
    margin: auto;
    padding: 0px 0px 15px 0px;
    background-color: white;
}


.location-details-reviews-map {
    display: flex;
};

.google-maps div {
    position: absolute;
    width: 300px;
    height: 250px;
    left: 300px;
}

.location-details-reviews-map .google-maps > div {
    position: absolute !important;
    width: 300px !important;
    height: 250px !important;
    left: 900px !important;
    margin-top: 80px !important;
    margin-left: 80px !important;
}
