.location-details-reviews__list-title {
    font-size: 34px;
    padding: 30px 0px 20px 0px;
    
}

.list--entity {
    display: flex;
    padding: 15px 0px 15px 0px;
    width: 500px;
}

.location-details-reviews__add-review {
    padding: 10px;
}

.location-details-reviews__list {
    display: flex;
    margin: 30px 30px;
    flex-direction: column;
}

.location-details-reviews__list-no-items {
    font-size: 24px;
    padding-top: 20px;
    font-style: italic;
}

.location-details-reviews__show-more {
    font-size: 20px;
    cursor: pointer;
    color: #004d00;
    font-weight: bold;
    text-decoration: underline;
    padding-top: 5px;
}

.add-review-form-label {
    font-size: 20px;
}

.list--entity-review {
    padding-left: 20px; 
}

.add-review-form-fieldset-label {
    margin-bottom: 10px;
}
.add-review-form-fieldset-input, .add-review-form-fieldset-textarea {
    display: block;
    margin-top: 10px;
    padding: 5px 0px 5px 10px;
    border-radius: 3px;
    border: 1px solid gray;
    width: 300px;
    box-sizing: border-box;
}

.add-review-form-label {
    padding: 10px 0px 10px 0px;
    font-weight: bold;
}

.add-review-form-fieldset {
    margin: 10px;
}

.add-review-form-button-add {
    margin-left: 100px;
    margin-top: 20px;
}

.add-review-form {
    padding: 30px;
}
