.google-maps {
    width: 50%;
    height: 92vh;
    margin: 80px 10px;
/* 
    width: 25%;
    height: 300px;
    margin-left: 30px; */

}
.google-maps-location-details {
    width: 50%;
    height: 41vh;
    margin: 80px 10px;
}

.google-maps > div > div {
    width: 100% !important;
    height: 100% !important;
    position: relative !important;
}

.location-search .google-maps {
    width: 30%;
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
}