.location-details-photos-map-container .google-maps {
    height: 53vh;
    width: 37%;
    margin: 10px;
    /* margin: 80px ; */
/* 
    width: 25%;
    height: 300px;
    margin-left: 30px; */
}

.location-search__google-map .google-maps {
    width: 50%;
    margin: 80px 10px;
    height: 91vh;
}

.google-maps-location-details {
    width: 50%;
    height: 41vh;
    margin: 80px 10px;
}

.google-maps > div > div {
    width: 100% !important;
    height: 100% !important;
    position: relative !important;
}

.location-search .google-maps {
    width: 30%;
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
}